.cardContent{
    display: inline-block;
    margin: 5vh;
    width: 90vh;
    height: 90vh;
    text-align: center;
}

.btnDetail{
    margin: 0 auto;
    background-color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    border-radius: 5px;
    border: violet;
    color: black;
}

.btnDetail:hover{
    background-color: cyan;
}